    <%- include('header') -%>
    <!-- sciptlet tag run basic js, if/else/loop <% %> -->
    <div class='box'>
      <h1 id='heading'> <%= whatDay %></h1>
      <h3> To-Do List </h3>
    </div>
    <!-- comes from post request of form, saves into addtoDoInput, logic in app.js -->
    <div class='box'>
      <% newListItems.forEach((item) => { %>
        <form action="/delete" method="post">
            <div class = "item">
              <input type="checkbox" name="checkbox" onChange="this.form.submit()" value="<%=item._id %>">
              <p> <%= item.name %> </p>
            </div>
            <input type="hidden" name="checkList"  value="<%= whatDay %>">
        </form>
      <%})%>


      <form class="item" action="/" method="post">
        <input type="text" name="addtoDoInput" placeholder="Add Item" autocomplete="off" autofocus>
        <button type="submit" name="list" value="<%= whatDay %>">+</button>
      </form>
    </div>
    <%- include('footer') -%>
